p{
    /*font-size: 23px;
    font-weight: bold;
    font-family: tahoma;
    line-height: 30px;
    font-style: italic;
    font-variant: small-caps;*/
    font: italic small-caps bold 23px/30px tahoma;

}