body {
    background: linear-gradient(rgb(212, 11, 226), rgb(224, 40, 111));
    background-repeat: no-repeat;
    background-size: 1366px 750px;
}

.wrapper{
    width: 200px;
    height: 200px;
    background-color: rgb(77, 5, 77);
    position: relative;
    animation-name: second;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /*animation-direction: alternate;
    animation-direction: reverse;*/
    text-align: justify;
    border: 2px solid rgb(248, 65, 141);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

@keyframes second {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 500px;
        top: 0px;
    }
    50% {
        left: 500px;
        top: 300px;
    }
    75% {
        left: 0px;
        top: 300px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}