ul#menu {
    padding: 0;
    list-style-type: none;
    width: 960px;
    background-color: rgb(95, 90, 90);
    min-height: 38.1px;
    margin: 0 auto;
    border-bottom: 2px solid orange;
}

ul#menu li {
    float: left;
    border-right: 1px solid black;
    border-left: 1px solid rgb(165, 154, 154);
    width: 190.40px;
    position: relative;
}

ul#menu li:hover ul {
    left: 0;
}

ul#menu li:first-child {
    border-left: none;
}

ul#menu li:last-child {
    border-right: none;
}

ul#menu li a {
    background-color:  rgb(95, 90, 90);
    padding: 10px 25px;
    color: white;
    display: block;
    text-decoration: none;
    transition: 0.3s all ease;
}

ul#menu li a:hover {
    background-color: orange;
}

ul#menu li ul {
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: -9999999px;
}

ul#menu li ul li {
    float: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(165, 154, 154);
    width: 255px;
    position: relative;
}

ul#menu li ul li:hover ul {
    top: 0;
    left: 255px;
}

ul#menu li ul li ul {
    position: absolute;
    top: -999999px;
}

body {
    background: linear-gradient(rgb(139, 139, 192), blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1366px 635px;
}